<h1>Movies</h1>
<% @movies.each do |movie| %>
  <table border="1" style="width:600px">
  <a href="<%= "/movies/#{movie["id"]}" %>">
  <%= "Title: #{movie['title']}" %>
  </a>
    <th>Genre</th>
    <th>Rating</th>
    <th>Year</th>
    <th>Studio</th>
    <tr>
      <td><%= movie['genre'] %></td>
      <td><%= movie['rating'] %></td>
      <td><%= movie['year'] %></td>
      <td><%= movie['name'] %></td>
    </tr>
  </table>
  <br>
<%end%>
